$color-main-green: #1a3e3e;
$color-main-black: #18121e;

$color-font-light-gray: #fdfdfd;
$color-font-black: #18121e;
$color-font-green: #1a3e3e;
$color-font-yellow: #f2be22;

$color-background-green: #1a3e3e;
$color-background-light-gray: #f3f5f4;
$color-background-white: #fff;

$font-next-art: var(--next-art);
