@import 'consts.scss';

@mixin text-h1-50-700 {
  font-family: $font-next-art;
  font-size: 50px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.8px;
  @media (width < 768px) {
    font-size: 38px;
  }
  @media (width <= 576px) {
    font-size: 28px;
    letter-spacing: unset;
  }
}

@mixin text-h1-32-800 {
  font-size: 32px;
  font-weight: 800;
  line-height: 120%;
  @media (width <= 576px) {
    font-size: 24px;
  }
}

@mixin text-h2-mini-26-800 {
  font-size: 26px;
  font-weight: 800;
  line-height: 120%;
  @media (width <= 576px) {
    font-size: 24px;
  }
}

@mixin text-h2-subtitle-24-400 {
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  @media (width <= 576px) {
    font-size: 16px;
  }
}

@mixin text-h3-24-700 {
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}

@mixin text-h3-20-700 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

@mixin text-h3-18-700 {
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
}

@mixin text-h2-subtitle-mini-18-400 {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  @media (width <= 576px) {
    font-size: 16px;
  }
}

@mixin text-regular-18-400 {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  @media (width <= 576px) {
    font-size: 16px;
  }
}

@mixin text-nav-18-600 {
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

@mixin text-regular-mini-14-400 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

@mixin text-regular-16-400 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
