@import "../styles/consts.scss";

html,
body {
  height: 100%;
}

@mixin global-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  @include global-flex-column;
  position: relative;
}

main {
  width: 100%;
  flex-grow: 1;
  @include global-flex-column;
}

.section_standart {
  width: 100%;
  @include global-flex-column;
  box-sizing: border-box;
  padding: 80px 16px 100px;
  transition: all 0.3s;
  overflow: hidden;
  @media (width < 768px) {
    padding: 50px 16px;
  }
}

.section_standart_color_gray {
  background-color: $color-background-light-gray;
}

.section__container {
  transition: all 1s;
  transform: translateY(0);
  max-width: 1180px;
  width: 100%;
  opacity: 1;
}

.section__container_hidden {
  transform: translateY(50%);
  opacity: 0;
}
