@import '../../styles/mixins.scss';
@import '../../styles/consts.scss';

.side_nav {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  background-color: $color-background-green;
  padding: 50px 0;
  overflow: hidden;
  transition: all 0.3s;
}

.side_nav_opened {
  width: 100%;
  padding: 50px 16px;
}

.nav_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.nav_item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav_arrow {
  fill: $color-font-light-gray;
}

.nav_link {
  @include text-nav-18-600;
  text-decoration: none;
  color: $color-font-light-gray;
  white-space: nowrap;
}

.nav_item:hover {
  .nav_link {
    color: $color-font-yellow;
    text-decoration: underline;
  }
  .nav_arrow {
    fill: $color-font-yellow;
  }
}
