.swiper_wrapper {
  width: 100%;
  @media (width >= 768px) {
    display: none;
  }
}

.swiper_slide {
  max-width: 285px;
}

.not_swiper_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  @media (width < 768px) {
    display: none;
  }
}
