@import '../../../styles/consts.scss';
@import '../../../styles/mixins.scss';

.container {
  max-width: 288px;
  width: 100%;
}

.input_border {
  width: 100%;
  display: flex;
  border-radius: 8px;
  border: 1px solid $color-font-light-gray;
  justify-content: space-around;
  height: 52px;
  box-sizing: border-box;
  align-items: center;
}

.text_placeholder {
  color: $color-font-light-gray;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  white-space: nowrap;
}

.text_lable {
  @include text-regular-small;
  color: $color-font-light-gray;
  padding-left: 8px;
  padding-top: 8px;
  white-space: nowrap;
}
